{% extends "layouts/app.html" %}

{% block head %}
<title>Control Panel</title>
{% endblock %}

{% block body %}

<table class="min-w-full divide-y divide-gray-200 overflow-hidden rounded-2xl shadow-md bg-white">
    <thead class="bg-gray-100 text-gray-700 text-sm uppercase tracking-wider">
        <tr>
            <th class="px-4 py-3 text-left">ID</th>
            <th class="px-4 py-3 text-left">Name</th>
            <th class="px-4 py-3 text-left">Email</th>
            <th class="px-4 py-3 text-left">Created At</th>
            <th class="px-4 py-3 text-left">Updated At</th>
            <th class="px-4 py-3 text-left">Actions</th>
        </tr>
    </thead>
    <tbody class="divide-y divide-gray-200 text-gray-700 text-sm">
        {% for user in users %} <!-- Loop through each user in the users list -->
        <tr class="hover:bg-gray-50 transition-colors">
            <td class="px-4 py-3">{{ user.id }}</td>
            <td class="px-4 py-3">{{ user.name }}</td>
            <td class="px-4 py-3">{{ user.email }}</td>
            <td class="px-4 py-3">{{ user.created_at.strftime('%d/%m/%Y') }}</td> <!-- Format the date to dd/mm/yyyy -->
            <td class="px-4 py-3">{{ user.updated_at.strftime('%d/%m/%Y') }}</td>
            <td class="px-4 py-3 flex flex-row items-center flex-wrap crud-actions">
                <a id="editUser" href="{{ url_for('admin.edit_user', user_id=user.id) }}"
                    class="purple_btn hover:underline">Edit</a>
                {% if user.id != current_user_id %}
                    <form method="POST" action="{{ url_for('admin.delete_user', user_id=user.id) }}"
                        onsubmit="return confirm('Are you sure you want to delete this user?');">
                        <button type="submit" class="red_btn hover:underline">Delete</button>
                    </form>

                    {% if current_user_is_admin %}
                        {% if user.is_admin %}
                            <form method="POST" action="{{ url_for('admin.revoke_admin', user_id=user.id) }}"
                                onsubmit="return confirm('Are you sure you want to revoke admin rights from this user?');">
                                <button type="submit" class="blue_btn hover:underline">Revoke Admin</button>
                            </form>
                        {% else %}
                            <form method="POST" action="{{ url_for('admin.make_admin', user_id=user.id) }}"
                                onsubmit="return confirm('Are you sure you want to grant admin rights to this user?');">
                                <button type="submit" class="green_btn hover:underline">Make Admin</button>
                            </form>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}