{% extends "layouts/app.html" %}

{% block head %}
    <title>Request Leave</title>
{% endblock %}

{% block body %}

    <div class="block mb-8">
        <h1 class="text-4xl font-bold text-gray-800">Edit yor Annual Leave</h1>
        <p class="text-gray-600">Fill in the date fields below</p>
    </div>

    <form method="POST" class="space-y-4">
        <div>
            <label for="start_date" class="block text-sm font-medium text-gray-700">Start Date</label>
            <input type="date" name="start_date" id="start_date" required class="mt-1 p-3 block w-full border border-gray-300 rounded-md shadow-sm cursor-pointer">
        </div>
        <div>
            <label for="end_date" class="block text-sm font-medium text-gray-700">End Date</label>
            <input type="date" name="end_date" id="end_date" required class="mt-1 p-3 block w-full border border-gray-300 rounded-md shadow-sm cursor-pointer">
        </div>
        <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded-md cursor-pointer">Submit</button>
    </form>
{% endblock %}
