<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='stylesheet.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% block head %} {% endblock %}
</head>
<body>
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        {% block body %} {% endblock %}
    </div>

    {% include 'components/alert.html' %}

    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('static', filename='javascript.js') }}"></script>
</body>
</html>