<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/output.css')}}" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% block head %} {% endblock %}
</head>
<body>

    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        {% block body %} {% endblock %}
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <script>
            {% for category, message in messages %} // Popup message for success or error
                Swal.fire({
                icon: '{{ 'error' if category == 'error' else 'success' }}',
                title: '{{ message }}',
                confirmButtonColor: '#3085d6'
                });
            {% endfor %}
            </script>
        {% endif %}
    {% endwith %}

    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>
</html>