nav,
form button,
#dropdownNavbar {
    background-color: #5e3b53;;
}
form a {
    color: #5e3b53
}
#dropdownNavbar {
    box-shadow: 0px 0px 8px 0px rgb(255, 255, 255);
}
#dropdownNavbar a,
#dropdownNavbar form button {
    transition: 0.35s ease-in-out;
}
form button:hover,
#dropdownNavbar a:hover,
#dropdownNavbar form button:hover {
    background-color: #916081;
}
#passwordContainer {
    width: 100%;;
}
#passwordVisible {
    display: flex;
    align-items: center;
    width: 46px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
#passwordVisible img {
    right: 10px;
}
#passwordVisible img:nth-child(1) {
    display: none;
}
table th {
    text-align: left;
}
.red_btn,
.blue_btn,
.green_btn,
.purple_btn,
#createLeave {
    color: #ffffff;
    padding: 8px 12px;
    border-radius: 4px/4px;
    cursor: pointer;
    transition: 0.35s ease-in-out;
}
.purple_btn {
    background-color: #5e3b53;
}
.red_btn {
    background-color: #d9534f;
}
.blue_btn {
    background-color: #5bc0de;
}
.green_btn {
    background-color: #5cb85c;
}
#createLeave {
    width: fit-content;
    margin-bottom: 1rem;
}
.crud-actions {
    row-gap: 5px;
    column-gap: 10px;
}